# Server Port Configuration
PORT=5000

# MongoDB Connection String (e.g. mongodb+srv://<username>:<password>@cluster.mongodb.net/dbname)
MONGO_URI=your_mongodb_connection_uri_here
# moulikavinjamuri_db_user
# pYPB43yl0T3q2FXv
# mongodb+srv://moulikavinjamuri_db_user:<db_password>@cluster0.ti3yikn.mongodb.net/?appName=Cluster0

# Google Gemini Pro AI API Key (from Google AI Studio)
GEMINI_API_KEY=your_gemini_api_key_here
# AIzaSyC5Pgp_v5GieoMPlZmlm2rO45UCbNny420

# Client/Frontend URL (for CORS allowance)
CLIENT_URL=http://localhost:5173
